@import url('../images/faces.png');

#main {
  width: 480px; /* Javascript will override this value */
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ddd;
}

.game {
  display: block;
  clear: both;
  text-align: center;
}

.aux {
  padding: 20px 0px 0px 0px;
}

.aux-item {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.faces {
  background-image: url('../images/faces.png');
  width: 30px;
  height: 30px;
}

.faces:active {
  background-position: 0px 60px;
}

.score-canvas {
  float: left;
  margin-left: 20px;
}

.timer-canvas {
  float: right;
  margin-right: 20px;
}

.footer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
