body {
  background-color: #001267; /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(top, #001267, #0BA8DB); /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(top, #001267, #0BA8DB); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(top, #001267, #0BA8DB); /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(top, #001267, #0BA8DB); /* Standard syntax */
}

body.success {
  background-color: #003D00; /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(top, #003D00, #24BC25); /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(top, #003D00, #24BC25); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(top, #003D00, #24BC25); /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(top, #003D00, #24BC25); /* Standard syntax */
}

body.failure {
  background-color: #161616; /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(top, #161616, #7F7F7F); /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(top, #161616, #7F7F7F); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(top, #161616, #7F7F7F); /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(top, #161616, #7F7F7F); /* Standard syntax */
  transition: background-color 0.5s ease;
  transition: background-image 0.5s ease;
}

body.failure > #cssmenu {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 0.05s;
}

body.success > #cssmenu ul li:hover,
body.success > #cssmenu ul li.active {
  background: -moz-linear-gradient(top, #00be00 0%, #005c00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00be00), color-stop(100%, #005c00));
  background: -webkit-linear-gradient(top, #00be00 0%, #005c00 100%);
  background: -o-linear-gradient(top, #00be00 0%, #005c00 100%);
  background: -ms-linear-gradient(top, #00be00 0%, #005c00 100%);
  background: linear-gradient(to bottom, #00be00 0%, #005c00 100%);
}

body.success > #cssmenu #bg-one {
  background: #005c00;
}

.border-concave {
  border-style: solid;
  border: 1px 1px 1px 1px;
  border-color: #808080 #f0f0f0 #f0f0f0 #808080;
  transform: translate(-3px, 0px);
  -webkit-transform: translate(-3px, 0px);
}

.border-convex {
  border-style: solid;
  border: 1px 1px 1px 1px;
  border-color: #f0f0f0 #808080 #808080 #f0f0f0;
  transform: translate(-3px, 0px);
  -webkit-transform: translate(-3px, 0px);
}

.split-screen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.game {
  width: 480px; /* Javascript will override this value */
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c4c4c4;
  display: inline-block;
}

.board {
  display: block;
  clear: both;
  text-align: center;
}

.aux {
  min-width: 200px;
  padding: 8px 0px;
  margin-bottom: 10px;
}

.aux-item {
  display: inline-block;
}

.faces {
  background-image: url('../images/faces.png');
  width: 36px;
  height: 36px;
  background-position: 0px 0px;
}

.faces.open-mouth {
  background-position: 0px 36px;
}

.faces.frown {
  background-position: 0px 72px;
}

.faces.sunglasses {
  background-position: -36px 0px;
}

#main .faces:active {
  background-position: -36px 72px;
}

.score-canvas {
  float: left;
  margin-left: 10px;
}

.timer-canvas {
  float: right;
  margin-right: 10px;
}
