body {
  height: 350px;
}

#main {
  background-color: #ddd;
  width: 500;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.aux {
  height: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.aux-item {
  display: inline-block;
}

.score-canvas {
  float: left;
  margin-left: 20px;
}

.timer-canvas {
  float: right;
  margin-right: 20px;
}

.footer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.game {
  display: block;
  clear: both;
  text-align: center;
}
